.mui-bar{
	padding: 0;
}
.user{
	position: relative;
	margin-top: 44px;
	height: 100px;
	width: 100%;
	background-color: #EBC175;
	clear: both;
}
.user .headimg{
	position: absolute;
	top: 20px;
	left: 20px;
	width: 60px;
	height: 60px;
}
.user .headimg img{
	width: 60px;
	height: 60px;
	border-radius: 30px;
}
.user .headname{
	position: absolute;
	top: 25px;
	left: 90px;
	width: 150px;
	height: 50px;
}
.user .headname p{
	font-size: 16px;
	color: #292929;
}
.head-list{
	position: absolute;
	top: 144px;
	width: 100%;
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right{
	font-size: 16px;
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right span::before{
	font-family: 'icomoon';
	font-size: 14px;
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row01::before{
	content: '\e9bd';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row02::before{
	content: '\e948';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row03::before{
	content: '\e918';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row04::before{
	content: '\e94b';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row05::before{
	content: '\ea1b';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row06::before{
	content: '\e9f1';
}
.head-list .mui-table-view .mui-table-view-cell .mui-navigate-right .row07::before{
	content: '\e974';
}
.exit{
	margin-top: 20px;
	width: 100%;
	height: 44px;
	background-color: #FFFFFF;
	border: 1px solid #EBC175 ;
}
.exit p{
	text-align: center;
	line-height: 44px;
	font-size: 16px;
	color: #EBC175;
}
.exit p .s-exit::before{
	font-family: 'icomoon';
	content: '\ea2b';
	color: #EBC175;
	line-height: 44px;
	font-size: 16px;
}
